//For our chess board we have the chessboard container, the cell class, the black class, the white class

#chessboard {
  background-color: rgb(156, 153, 150);
  width: 60vw;
  max-width: 600px;
  border: 1px black solid;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: row;
  //  justify-items: center;
  //align-items: center;
}
// .cell {
//   border: 1px black dashed;
//   height: 5vh;
//   width: 5vw;
// }

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.white {
  background-color: rgba(245, 245, 245, 0.459);
}

.black {
  background-color: rgba(49, 47, 47, 0.644);
}
.attila-red {
  background-color: #a6a6a6;
}
.attila-black {
  background-image: url('../img/path.png');
  background-size: cover;
}

.knight {
  position: relative;
  width: 80%;
  float: inline-end;
}
